
<div class="container">

  <form action='/'>
    <input type="submit" value="Home">
  </form>
  
  <h1> <%= @listing.name %></h1>
    <p>
      <%= @listing.description %>
    </p>
    <p>
      <%= @listing.price %>
    </p>
    <p>
      <% @unicorn.each do |x| %>
        <%= x["date_start"] %>
      <% end %>
    </p>
    <p>
      <% @unicorn.each do |x| %>
        <%= x["date_end"] %>
      <% end %>
    </p>


    <p><a href="mailto:<%= @user.email %>">More questions? </a></p>

     <form action="/booking/<%= @listing.id %>/book" method="get">
     <input type="submit" value="Book"/>
     </form>

    </p>

      <img src="<%= @listing.pictures.first['url'] %>" alt="">
</div>
