
<div class="container">
  <h1> <%= @listing.name %></h1>
    <p>
      <%= @listing.description %>
    </p>
    <p>
      <%= @listing.price %>
    </p>
    <p>
      <% @unicorn.each do |x| %>
        <%= x["date_start"] %>
      <% end %>
    </p>
    <p>
      <% @unicorn.each do |x| %>
        <%= x["date_end"] %>
      <% end %>
    </p>

     <form action="/booking/<%= @listing.id %>/book" method="get">
     <input type="submit" value="Book"/>
     </form>

</div>
