<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1>Welcome to MakersBnB</h1>
      <%= flash[:notice] %>
      <%= flash[:welcome_user] %> 

    <form action="/sessions/destroy" method="post">
      <input type="submit" name="" value="Sign Out">
    </form>

    <form action="/sessions/new">
      <input type="submit" name="" value="Sign In">
    </form>

    <form action='/listings/new'>
      <input type="submit" value="Add Listing"/>
    </form>
    <p>
      <ul>
        <% @listings.each do |listing| %>
          <li class="listing" id="listing-<%= listing.id %>">
            <%= listing.name %> <%= listing.description %> <%= listing.price %>
            <form action="/listings/<%= listing.id %>/show" method="get">
              <input type="submit" value="View" />
            </form>
          </li>
        <% end %>
      </ul>
    </p>
  </div>
</body>
</html>
